<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Grandmaster.com</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

	<!-- Servlet Declaration -->
	<servlet>
		<servlet-name>feedbackProcessor</servlet-name>
		<servlet-class>com.grandmaster.web.action.FeedbackProcessorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>loginProcessor</servlet-name>
		<servlet-class>com.grandmaster.web.action.LoginServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>userProfile</servlet-name>
		<servlet-class>com.grandmaster.web.action.UserProfileServlet</servlet-class>
	</servlet>

	<!-- URL Mappings -->
	<servlet-mapping>
		<servlet-name>feedbackProcessor</servlet-name>
		<url-pattern>/feedback/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>loginProcessor</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>userProfile</servlet-name>
		<url-pattern>/user/save.do</url-pattern>
	</servlet-mapping>

	<!-- Listner Declarations -->
	<listener>
		<listener-class>com.grandmaster.listener.GrandmasterContextInitializer</listener-class>
	</listener>
</web-app>